@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-primary: #1f6225;
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: #a1a1a1;
  --color-sidebar-border: #e5e5e5;
  --color-sidebar-accent-foreground: #171717;
  --color-sidebar-accent: #f5f5f5;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-primary: #171717;
  --color-sidebar-foreground: #0a0a0a;
  --color-sidebar: #fafafa;
  --color-chart-5: #fe9a00;
  --color-chart-4: #ffb900;
  --color-chart-3: #104e64;
  --color-chart-2: #009689;
  --color-chart-1: #f54900;
  --color-ring: #a1a1a1;
  --color-input: #e5e5e5;
  --color-border: #e5e5e5;
  --color-destructive: #e7000b;
  --color-accent-foreground: #171717;
  --color-accent: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-muted: #f5f5f5;
  --color-secondary-foreground: #171717;
  --color-secondary: #f5f5f5;
  --color-primary-foreground: #fafafa;
  --color-popover-foreground: #0a0a0a;
  --color-popover: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-card: #ffffff;
  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
}

@utility container {
  @apply mx-auto px-4;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  html {
    @apply scroll-smooth overflow-x-hidden;
  }
  body {
    @apply flex min-h-dvh flex-col overflow-x-hidden bg-background text-foreground;
  }
  input {
    @apply outline-none;
  }
  main {
    @apply flex h-full flex-1 flex-col gap-6 py-6;
  }
  button {
    @apply cursor-pointer;
  }
}
